<mat-card class="details-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            DETALLES
        </mat-card-title>
        <mat-card-subtitle>Informacion de la Bandeja</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="Tray.idImg" alt="Photo of a Shiba Inu" height="488" width="216">
    <mat-card-content>
        <div class=" card-body">
            <div class=" chart-area"><strong>CodigoQR:</strong>{{Tray.codigoQr}}</div>
        </div>

        <div class=" card-body">
            <div class=" chart-area"><strong>Subida el:</strong> {{Tray.fechaIngreso | date:'fullDate'}}</div>
        </div>
        <div class=" card-body">
            <div class=" chart-area"><strong>Funcionario Encargado</strong></div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/tray-list']">Regresar</button>
    </mat-card-actions>
</mat-card>


<!--<table class="table table-light">
        <thead>
            <tr>
                <th scope="col">QR de la Bandeja</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Codigo Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>{{Tray.fechaIngreso | date:'MMM d, y'}}</td>
                <td align="center">
                    <img [src]="Tray.idImg" width=250px height=default />
                </td>
                <td>
    
                </td>
            </tr>
    
        </tbody>
    </table>-->
<!--<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo QR</th>
        <th scope="col">Fecha de Ingreso</th>
        <th scope="col">Imagen de la Bandeja</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{Tray.codigoQr}}</td>
        <td>{{Tray.fechaIngreso | date:'MMM d, y'}}</td>
        <td> <img [src]="Tray.idImg" width=250px height=default /></td>
      </tr>
    </tbody>
  </table>-->