.row {
    width: 100%;
    margin-top: 20px;
}

.content {
    margin-top: 100px;
    margin-left: 15px;
}

.chart-area {
    background-color: #400090;
}

.card-body {
    background-color: #400090;
}