<div class=" content">

    <ul class="list-group list-group-flush">
        <h5>
            <li class="list-group-item">Total: {{Tray}} bandejas</li>

            <li class="list-group-item">Ultima: {{Lastup | date:'d MMM y'}}</li>
        </h5>
    </ul>
</div>


<!--
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="border">
            <div class="wrapper d-flex pr-4">
                <small class="text-success font-weight-medium mr-2">USD</small>
                <small class="text-gray">$103,342.50</small>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="border">
            <div *ngIf="chart">
                <canvas id="canvas">{{ chart }}</canvas>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="border">3</mat-grid-tile>
        <mat-grid-tile class="border"> </mat-grid-tile>
    </mat-grid-list>
    -->