.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    background: linear-gradient(0deg, #2E323A, #2E323A 100%);
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #2E323A;
}

.links {
    color: #fff;
}

.lista {
    padding-left: 10px;
}

.menu {
    color: #fff;
}

.titles {
    color: #fff;
}

.nav-tool-items {
    margin-left: 90%
}