<div class="login-wrapper2" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box2">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <mat-card-content>
                <mat-form-field class="generic-fields">
                    <input type="text" formControlName="nombre" matInput placeholder="Nombre" name="nombre" [ngClass]="{ 'is-invalid': submitted && !f.nombre.errors }">
                    <mat-error *ngIf="!f.nombre?.errors?.required">
                        Ingrese <strong>Nombre</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="generic-fields">
                    <input formControlName="apPat" matInput placeholder="Apellido Paterno" name="apPat" [ngClass]="{ 'is-invalid': submitted && f.apPat.errors }">
                    <mat-error *ngIf="!f.apPat.errors">
                        ingrese <strong>Apellido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="generic-fields">
                    <input formControlName="apMat" matInput placeholder="Apellido Materno" name="apMat" [ngClass]="{ 'is-invalid': submitted && f.apMat.errors }">
                    <mat-error *ngIf="!f.apMat.errors">
                        ingrese <strong>Apellido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="generic-fields">
                    <input formControlName="rut" matInput placeholder="Rut" name="rut" [ngClass]="{ 'is-invalid': submitted && f.rut.errors }">
                    <mat-error *ngIf="!f.rut.errors">
                        ingrese <strong>Rut</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="fields-large">
                    <input formControlName="email" matInput placeholder="Email" name="email" [ngClass]="{ 'is-invalid': submitted && !f.email.errors }">
                    <mat-error *ngIf="!f.email.errors">
                        ingrese <strong>Email</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="generic-fields">
                    <mat-label>Sucursal</mat-label>
                    <mat-select formControlName="ubicacion">
                        <mat-option [value]="Ubicaciones[i]._id" *ngFor="let ubicacion of Ubicaciones ;let i =index">
                            {{Ubicaciones[i].lugar}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>
                <mat-form-field class="generic-fields">
                    <input formControlName="telefono" matInput placeholder="Teléfono" name="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }">
                    <mat-error *ngIf="!f.telefono.errors">
                        ingrese <strong>telefono</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="generic-fields">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo">
                        <mat-option [value]="sexo" *ngFor="let sexo of Sexo">{{ sexo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width4">
                    <input formControlName="password" matInput type="password" placeholder="Contraseña" name="password">
                </mat-form-field>

                <mat-form-field class="example-full-width4">
                    <input matInput type="password" placeholder="Repetir Contraseña">
                </mat-form-field>

            </mat-card-content>

            <button [disabled]="loading" mat-stroked-button color="primary" class="btn-block">Register</button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                {{error}}
            </div>
            <div *ngIf="res" class="alert alert-success mt-3 mb-0">
                {{message}}
            </div>

            <img *ngIf="loading" src="../../../assets/loading.gif" />
            <a [routerLink]="['home']" class="btn btn-link">Regresar</a>
        </form>
    </mat-card>
</div>


<!--<mat-form-field class="example-full-width">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let activado of Activado" [value]="activado">
                {{activado}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-form-field>-->



<!--<mat-form-field class="example-full-width">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let activado of Activado" [value]="activado">
                {{activado}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-form-field>-->