<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title><img src="../../../../assets/logo-colored.png" alt="" class="logo"></mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input formControlName="rut" matInput placeholder="Rut" name="rut">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input formControlName="password" matInput type="password" placeholder="Password" name="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="primary" [disabled]="loading" class="btn-block" type="submit">Log            in</button>
            <img *ngIf="loading" src="../../../assets/loading.gif" width="50" height="auto" />
        </form>
    </mat-card>
</div>