<script src="../../../js/script.js"></script>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Id de la Imagen</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Codigo Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bandeja of tray">
            <td>{{bandeja._id}}</td>
            <td>{{bandeja.fechaIngreso}}</td>
            <td>
                <img [src]="bandeja.idImg" width=250px height=default />
            </td>
            <td>

            </td>
        </tr>

    </tbody>
</table>


<!--
<table class="table table-light ">
    <thead>
        <tr>
            <th scope="col ">foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emajen of imageTray ">
            <td><img [src]="(emajen)" alt=" "></td>
        </tr>
    </tbody>
</table>-->