<div class="container main-container">
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
        {{error}}</div>
    <table *ngIf="!error" mat-table class="mat-elevation-z8" [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Details Column -->

        <ng-container matColumnDef="rut">
            <th mat-header-cell *matHeaderCellDef> Rut </th>
            <td mat-cell *matCellDef="let element">
                {{element.rut}} </td>
        </ng-container>

        <!-- Qr code Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> nombre </th>
            <td mat-cell *matCellDef="let element">
                {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef> apellidos</th>
            <td mat-cell *matCellDef="let element">
                {{element.apPat}} {{element.apMat}}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="sendID(element.rut)">Actualizar</button>
                <button mat-raised-button color="accent" (click)="deleteUser(element._id)">Borrar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<!--
<a  (click)="verBandejas(element._id)" class="btn btn-outline-light" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                    
                     
                    
    </a>-->